.container {
	display: flex;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	width: 100%;
	background-color: #1f2937;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#headerLogo {
	display: flex;
	width: 500px;
	align-items: center;
	justify-content: center;
}

#headerRight {
	display: flex;
	list-style-type: none;
	width: 500px;
	justify-content: space-around;
	align-self: center;
}

/* li {

} */
